@charset "UTF-8";

html, body {
  margin: 0;
  line-height: 2rem;
  text-align: justify;
  font-family: Arial, Sans-Serif;
  text-shadow: 1px 1px 2px #000000;
}

header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to left, #000000, #00024f);
  padding: 30px;
  align-items: center;
}


header > .h1nav, .h2nav {
  color: #ffffff;
  font-size: 30px;
  margin-left: 10px;
}

nav {
  font-size: 20px;
}

nav > a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}

nav > a:hover {
  transition: 1s;
  text-decoration: underline solid 2px #ff3319;
  padding: 2px;
}

main {
  margin: auto;
  overflow: hidden;
}

article {
  display: block;

  border-radius: 5px;
  background-image: url('image-c.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 2px 2px 2px #000254;
  padding: 50px;
  margin-bottom: 2px;
}

.text-container {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,
  minmax(min(20.00rem, 100%), 1fr));
  grid-gap: 9px;
  margin-left: 1%;
  margin-right: 2%;
}

.h1h {
  margin-left: -20%;
  text-align: right;
  font-size: 30px;
  color: #ffffff;
}
.h2one {
  text-align: right;
  font-size: 30px;
  color: #fe7400;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ffffff2a;
  animation: digitar 5s steps(40) infinite;
}

@keyframes digitar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.imagem1 {
  margin-top: 5%;
  width: 300px;
  height: 300px;
  margin-left: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
}

.secao2 {
  display: flex;
  flex-direction: column;
}


.sobrem {
  display: flex;
  border: solid 3px #ef04ff;
  padding: 20px;
  background-image: linear-gradient( -45deg, #00061b , #000000);
  margin-top: 1%;
  box-shadow: 3px 3px 3px #0000003a;
}

.h12 {
  background-image: linear-gradient(to right, #fe7400 , #010053 120px);
  padding: 10px;
  border-radius: 30%;
  width: 160px;
  font-size: 25px;
  color: #ffffff;
}
.p2 {
  font-size: 20px;
  color: #ffffff;
}

details {
  font-size: 20px;
  color: #ffffff;
}
.text2 {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,
  minmax(min(25.00rem, 100%), 1fr));
  grid-gap: 5px;
  margin-left: 1%;
  padding: 2%;
}
.imagem2 {
  width: 50%;
  height: 50%;
  box-shadow: 10px 0px 10px #0035e1;
  margin-left: 19%;
  margin-top: 20%;
  border-radius: 50%;
}
.imagem2:hover {
  transition: 1s;
  scale: 1.1;
  box-shadow: 3px 3px 3px #f96d00;
}


#slider {
  display: block;
  margin: 0 auto;
  margin-top: 1%;
  text-align: center;
  background-image: linear-gradient(to left, #010016, #030042);
}
.h1fe {
  padding: 20px;
  color: #ffffff;
}
#slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  margin: right;

}

.pfe {
  display: block;
  font-size: 20px;
  width: 380px;
  color: #fff;
}
.githubfe, .css, .html {
  color: #ffffff;
  padding: 5px;
}
.githubfe {
  color: #ffffff;
}
.css {
  color: #0377ff;
}
.html {
  color: #eb4800;
}

.botaoslide {
  display: flex;
  justify-content: space-around;
}
button {
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 1%;
}
#prev {
  background-color: #0035e1;
  height: 50px;
}
#next {
  background-color: #0035e1;
  height: 50px;
}


footer {
  background-color: #0419ffd0;
  margin-top: 1%;
  padding: 15px;
}

.icon {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border: solid 2px #ffffff;
  padding: 20px;
}

.h2i {
  color: #ffffff;
  border: solid 1px #ffffff;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

#iconteste {
  padding: 5px;
  text-align: center;
}

.lindin, .github, .instagram {
  border-radius: 50%;
  color: #ffffff;
  border: solid 3px #ffffff;
  padding: 5px;
  text-align: center;
  margin: 0 5px 0 5px;
}

.lindin:hover {
  transition: 0.8s;
  scale: 1.5;
  color: #2798ff;
  border: solid 1px #2798ff;
  padding: 8px;
  margin: 0 20px 0 20px;
}
.github:hover {
  transition: 0.8s;
  scale: 1.5;
  background-color: #000;
  border: solid 1px #000000;
  padding: 8px;
  margin: 0 20px 0 20px;
}
.instagram:hover {
  transition: 0.8s;
  scale: 1.5;
  background-color: #ff395b;
  color: ;
  border: solid 1px #ff395b;
  padding: 8px;
  margin: 0 20px 0 20px;
}