@charset "UTF-8";

html, body {
  margin: 0;
  line-height: 2rem;
  text-align: justify;
  font-family: Arial, Sans-Serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #002b5e;
  padding: 30px;
  align-items: center;
}

header > .h1nav, .h2nav {
  color: #ffffff;
  font-size: 30px;
  margin-left: 10px;
}

nav {
  font-size: 20px;
}

nav > a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}

nav > a:hover {
  color: #fe7400;
  text-decoration: underline;
  padding: 2px;
}

main {
  margin: auto;
}

article {
  display: block;
  justify-content: space-between;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #000000, #000254  );
  padding: 50px;
  margin-bottom: 1%;
  border-radius: 0 0 40% 40%;
}

.text-container {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,
  minmax(min(11.25rem, 100%), 1fr));
  grid-gap: 9px;
  margin-left: 1%;
  margin-right: 2%;
}

.h1one {
  text-align: right;
  font-size: 30px;
  color: #fe7400;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333;
  animation: digitar 6s steps(40) infinite;
}

@keyframes digitar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.imagem1 {
  margin-top: 5%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
}

.secao1 {
  margin: auto;
  max-width: 900px;
}

.secao2 {
  display: flex;
  flex-direction: column;
}
.icon {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 30px;
  margin-left: 50%;
}

.instagram, .facebook, .twitter {
  margin-right: 10%;
  border-radius: 50%;
  color: #ffffff;
}
.instagram:hover {
  scale: 1.5;
  color: #ff395b;
  margin-right: 30px;
}

.facebook:hover {
  scale: 1.5;
  color: #0352ff;
  margin-right: 30px;
}
.twitter:hover {
  scale: 1.5;
  color: #24daff;
  margin-right: 20px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient( -45deg, #010053 70%, #0000003b -24% );
  margin-top: 3%;
}

.h12 {
  font-size: 25px;
  color: #ffffff;
}
.p2 {
  font-size: 20px;
  color: #ffffff;
}
.text2 {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,
  minmax(min(11.25rem, 100%), 1fr));
  grid-gap: 9px;
  margin-left: 1%;

}
.imagem2 {
  width: 200px;
  height: 310px;
  border: solid 1px #0030e9;
  margin-left: 20%;
}